@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900');

*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

nav{
    background-color: #262626;
    padding:25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > p{
    color:#E5E5E5;
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.nav-button{
    color:#E5E5E5;
    display: none;
    font-size:1.7em;
}

.input-wrap{
    display: flex;
}

.input-wrap input{
    width:210px;
    font-size: 1.2em;
    padding:5px 10px;
    border:none;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.input-wrap input.error{
    border:2px solid #cc0000;
}

.input-wrap button{
    padding:6px 20px;
    border: none;
    background:none;
    border: 2px solid #2ECC40;
    color:#2ECC40;
    font-size: 1em;
    border-radius: 4px;
    margin-left:10px;
    cursor: pointer;
    font-weight: 600;
}

.status{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation: statusLoop 2s ease-in-out infinite alternate;
    font-size: 2.5em;
    font-weight: 900;
}

@keyframes statusLoop{
    0%{
        color:#262626;
    }
    100%{
        color:rgba(49, 42, 42, 0.466);
    }
}

.color-box{
    height: 50px;
    padding:20px 10px;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width:900px){
    .status{
        font-size:1.5em
    }
}

@media only screen and (max-width:650px){
    nav{
        padding:25px 20px;
    }

    .nav-button{
        display: flex;
    }

    .input-wrap{
        position: fixed;
        bottom:-80px;
        right:0;
        width:100%;
        background-color: #262626;
        justify-content: center;
        padding: 20px 0;
        transition:0.5s ease-in-out;
    }

    .input-wrap.toggle{
        bottom:0;
        transition:0.5s ease-in-out;
    }

    .input-wrap input{
        width:50%;
        padding:5px 10px;
    }

    .input-wrap button{
        margin-left:4px;
        padding:4px 10px;
        font-weight: 500;
    }

    .status{
        text-align: center;
    }

}